*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  position: relative;

  width: 100vw;
  height: 100vh;

  padding: 0;
  margin: 0;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1;

  color: black;
  background-color: white;
}

nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  background-color: cornsilk;

  opacity: 0;

  transition: .3s;
}

nav:hover {
  opacity: 1;
}

ul {
  display: flex;
  justify-content: center;

  padding: 20px;
  margin: 0;
  
  list-style: none;
}

li {
  padding: 0 10px;
  
  cursor: pointer;
}

li:hover {
  color: coral;
}

li.active {
  color: gray;
  cursor: default;

  pointer-events: none;
}
